.ad-list{
    margin: auto;
    width: 75%;
    max-width: 1215px;
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 235px);
}
.single-ad{
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 400px;
    gap: 8px;
    transition: .09s;
    & img{
        border-radius: 20px;
        width: 225px;
        height: 270px;
        object-fit: cover;
        
    }
}
.adListContiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.more-ads-button {
    
    width: 20%;
}
.no-ad{
    color: silver;
    text-wrap: nowrap;
    text-align: start;
}
.ad-list:has(.no-ad){
    display: flex;
}
.single-ad:hover{
    transform: translate(0, -5px);
}
.item {
    margin: 0;
    color: grey;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas a mostrar */
    -webkit-box-orient: vertical;
    
}
p{
    margin: 0;
}

@media (width < 1280px) {
    .ad-list{
        width: 90%
    }
}
@media (width < 640px) {
    
}