body{
    display: flex;
    justify-content: center;
    background-color: #eceff1;

}


.ad-detail{
    display: flex;
    flex-direction: column;
    width: 680px;
    background-color: white;
    padding: 40px 10px;
    border-radius: 10px;
}
.img-container{
    margin: 20px 10px;
    display: flex;
    width: 640px;
    height: 480px;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    & img {
        width: auto;
        height: auto;
        max-width: none; 
        max-height: none;
        min-width: 100%; 
        min-height: 100%;
        object-fit: cover;
        
    }
}
.tags-container a{
    margin: 0;
    padding: 3px 5px;
    border-radius: 3px;
    color: white;
    width:fit-content;
    background: #13C1AC;
}
.tags-container{
    display: flex;
    gap: 4px;
}
.editor-modal{
    display: none;
}
.editor-modal:has(form){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.541);
    backdrop-filter: blur(10px);
    position: absolute;
}
#ad-form {
    display: flex;
    gap: 5px;
    flex-direction: column;
    height: auto;
    width: 400px;

    & .signUpButton {
        margin-top: 1rem;
    }
}

.switch-continer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(19, 193, 172);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgb(19, 193, 172);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgb(19, 193, 172);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}