.notification{
    margin: auto;
    position: relative;
    border: 2px solid #13C1AC;
    border-radius: 5px;
    padding: 10px;
    text-wrap: nowrap;
    &.error{
        border-color: red;
        background-color: coral;
    }
}
